{% extends "base.html" %}

{% block content %}

    <h1>Company Task Manager</h1>
    <p>Here you can manage current tasks for developers teams</p>
    <h2>Dynamic content</h2>
    <p>IT company now has the following record counts:</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-secondary"><strong>Workers:</strong> {{ num_workers }}</li>
        <li class="list-group-item list-group-item-secondary"><strong>Tasks:</strong> {{ num_tasks }}</li>

        {% if closest_deadline == 0 %}
           <li class="list-group-item list-group-item-warning"><strong>Closest deadline is today</strong></li>
        {% elif closest_deadline == -1 %}
          <li class="list-group-item list-group-item-secondary"><strong>There are no tasks for now!</strong></li>
        {% else %}
          <li class="list-group-item list-group-item-secondary"><strong>Closest deadline expires in {{ closest_deadline }} day{{ closest_deadline|pluralize }}</strong></li>
        {% endif %}

        {% if expired_tasks %}
          <li class="list-group-item list-group-item-secondary"><strong>Good job!!! Company has no expired tasks</strong></li>
        {% else %}
          <li class="list-group-item list-group-item-danger"><strong>Company has {{ expired_tasks }} expired task{{ expired_tasks|pluralize }}</strong></li>
        {% endif %}

    </ul>
  <br>
    <p>You have visited this page
        {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>
{% endblock %}