{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ worker.username }}
    <span class="float-right">
      <a href="{% url 'task_manager:worker-delete' pk=worker.id %}" class="btn btn-danger link-to-page ">
        Delete
      </a>

      <a href="{% url 'task_manager:worker-update' pk=worker.id %}" class="btn btn-secondary link-to-page">
        Update
      </a>
    </span>

  </h1>

  <p><strong>First name:</strong> {{ worker.first_name }}</p>
  <p><strong>Last name:</strong> {{ worker.last_name }}</p>
  <p><strong>Position:</strong> {{ worker.position }}</p>
  <p><strong>Is staff:</strong> {{ worker.is_staff }}</p>
  {% block search_form %}
  {% include "includes/search_form.html" %}
  {% endblock %}
  <br>
  <div class="ml-3">
    <h4>Tasks</h4>

    {% for task in task_list %}
      {% if task.priority == 1 %}
        <a href="{% url 'task_manager:task-detail' pk=task.id %}" class="list-group-item list-group-item-action list-group-item-danger">
        {% if task.is_completed %} <span class="btn btn-success disabled float-right"><i class="bi bi-check"></i> Task is done</span>{% endif %}
        <span><strong>Name:</strong> {{ task.name }}</span>
        <span><strong>Priority:</strong> {{ task.get_priority_display }}</span>
        <p class="text-muted"><strong>Description:</strong> {{task.description}}</p>
      </a>

      {% elif task.priority == 2 %}
        <a href="{% url 'task_manager:task-detail' pk=task.id %}" class="list-group-item list-group-item-action list-group-item-warning">
        {% if task.is_completed %} <span class="btn btn-success disabled float-right"><i class="bi bi-check"></i> Task is done</span>{% endif %}
        <span><strong>Name:</strong> {{ task.name }}</span>
        <span><strong>Priority:</strong> {{ task.get_priority_display }}</span>
        <p class="text-muted"><strong>Description:</strong> {{task.description}}</p>
      </a>

      {% elif task.priority == 3 %}
        <a href="{% url 'task_manager:task-detail' pk=task.id %}" class="list-group-item list-group-item-action list-group-item-info">
        {% if task.is_completed %} <span class="btn btn-success disabled float-right"><i class="bi bi-check"></i> Task is done</span>{% endif %}
        <span><strong>Name:</strong> {{ task.name }}</span>
        <span><strong>Priority:</strong> {{ task.get_priority_display }}</span>
        <p class="text-muted"><strong>Description:</strong> {{task.description}}</p>
      </a>

      {% elif task.priority == 4 %}
        <a href="{% url 'task_manager:task-detail' pk=task.id %}" class="list-group-item list-group-item-action list-group-item-secondary">
        {% if task.is_completed %} <span class="btn btn-success disabled float-right"><i class="bi bi-check"></i> Task is done</span>{% endif %}
        <span><strong>Name:</strong> {{ task.name }}</span>
        <span><strong>Priority:</strong> {{ task.get_priority_display }}</span>
        <p class="text-muted"><strong>Description:</strong> {{task.description}}</p>
      </a>

      {% endif %}
    {% empty %}
      <p>No tasks!</p>
    {% endfor %}
  </div>
{% endblock %}

